.productCardContainer{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 15em;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 399px;
}
.myProducts{
  margin-top: 5em;
  
}
.front{
  max-width: 240px;
  max-height: 223px;
}
.card {
    text-align: center;
    background-color: #fff;
    border-radius:10px;
    cursor:pointer;
    width: 15em;
  }
  .card .product{
     border-radius:10px;
     transition: 0.2s;
  }
  .card:hover .product{
    transform:scale(1.4);
    border-top-right-radius:50px;
    border-top-left-radius:50px;
  }
  
  .card .content{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
    min-height: 223px;
  }
  .card .content .back{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #7daff181;
    transition:1s;
    z-index:1;
  }
  
  .from-left{
    top:0;
    left:-110%;
    align-items:center;
    vertical-align: middle;
  }
  .card:hover .content .from-left {
     left:0%;
  }
  
.shortDescription p{
    padding: 1.2em;
}
  
  /* Button hover image*/
  
.verMas {
	color: rgb(255, 255, 255);
	background-color:  #7DB0F1;
	transition: .2s ease-in-out;
	border-left: 3px transparent solid;
	border-right: 3px transparent solid;
	font-size: 1em;
	/*padding-right: 1em;
	padding-left: 1em;
  margin-top: 3em;*/
  margin:auto;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  margin-top: 40%;
  transform: (50% 50% 50% 50%);
}

.verMas:hover {
	color:  #7DB0F1;
	background-color: black;
	border-left:  #7DB0F1 10px solid;
	border-right:  #7DB0F1 10px solid;
}
.grid{
  left: 0;
  right: 0;
  margin: auto;
  
  margin-bottom: 10em;
}
