.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #f0f7ffd3;
    z-index: 2;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    color: #c0c0c0;
    width: 2em;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
}
.auth-reg{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
    text-align: center;
    vertical-align: middle;
}
.auth-reg a{
    margin-top: 4em;
    height: 3em;
    font-weight: bold;
}
.font-bold{
    font-weight: bold;
    margin-bottom: 2em;
}
