@tailwind base;
@tailwind components;
@tailwind utilities;
*, ::before, ::after {
  box-sizing:unset !important;
}
body, html{
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  overflow-x: hidden;
  background-color: #F0F7FF;
  padding: 0 !important;
  display: block !important;
  overflow-y: scroll;

}
.fa-star, .fa-star-half{
  color:rgb(250, 198, 28) !important;
}
.spinner{
  height: 100vh;
  
}
.spinner, .spinner svg{
  margin:auto;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  margin-top:20%;
}
